<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @scholarship.id %>
</p>

<p>
  <b>Stype:</b>
  <%= @scholarship.stype %>
</p>



<%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Back', scholarships_path %>
