<br>
 <h2 class="text-muted" style="color:black;">Aplicatiile mele</h2>
<br /><br />
<div class="row">
	<div class="col-md-4">
		<h3>Aplicatii in asteptare</h3><br />
		<% if @waiting.empty? %>
			<p>Nu aveti aplicatii in asteptare in acest moment</p>
		<% else %>
				<% @waiting.each do |app| %>
					<div style="  line-height: 3em; font-size: 1.2em; vertical-align: middle;">
					    <%= app["scholarship"] %> 
					    <span class="pull-right" style="  margin-right: 25px;">	
					    	<a href="/applications/<%= app['application'].id %>/edit"><i class="fa fa-pencil" style="color: #2980b9; padding: 2px;"></i></a>
					    	<a href="/applications/<%= app['application'].id %>/delete" data-confirm="Are you sure?"><i class="fa fa-trash-o" style="color: red; padding: 2px;"></i></a>
					    </span>
					</div>
				<% end %>
		<% end %>
	</div>
	<div class="col-md-4">
		<h3>Aplicatii aprobate</h3><br />
		<% if @accepted.empty? %>
			<p>Nu aveti aplicatii acceptate in acest moment</p>
		<% else %>
			<ul>
				<% @accepted.each do |app| %>
					<li>
					    <%= app["scholarship"] %> 
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
	<div class="col-md-4">
		<h3>Aplicatii respinse</h3><br />
		<% if @rejected.empty? %>
			<p>Nu aveti aplicatii respinse in acest moment</p>
		<% else %>
			<ul>
				<% @rejected.each do |app| %>
					<li>
					    <%= app["scholarship"] %> 
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>