<div class="container col-md-10 col-md-offset-1 text-center">

	<h3>
		<% case params[:scholarship_id] %>
		<% when "1" %>  
		Bursa de perfomanta
		<% session["aplic_id"] = '1' %>
		<% when "2" %>  
		Bursa de studiu/merit
		<% session["aplic_id"] = '2' %>
		<% when "3" %>  
		Bursa sociala</p>
		<% session["aplic_id"] = '3' %>
		<% when "4" %> 
		Bursa sociala ocazionala
		<% session["aplic_id"] = '4' %>
		<% when "5" %> 
		Bursa medicala
		<% session["aplic_id"] = '5' %>
		<% when "6" %>  
		<% session["aplic_id"] = '6' %>
		Bursa sociala orfan

		<% end %>
	</h3>


	<div class="row text-left">
		<div>

			<%= form_for(@application) do |f| %> 

			<div class="row">
				<div class="form-group col-md-6">
					<label class="col-md-12 control-label">Nume</label>
					<div class="col-md-12 ptr-form">
						<a href="#" data-xeditable="true" data-pk="@info['id']" data-model="user" data-name="last_name" data-url="/inline" data-title="nume">
						<%= @info["last_name"] %>
						</a>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label class="col-md-12 control-label">Prenume</label>
					<div class="col-md-12 ptr-form">
						<a href="#" data-xeditable="true" data-pk="@info['id']" data-model="user" data-name="first_name" data-url="/inline" data-title="prenume">
							<%= @info["first_name"] %>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label class="col-md-12 control-label">Specializarea</label>
					<div class="col-md-12 ptr-form">
						<%= @info['specialization'] %>
					</div>
				</div>

				<div class="form-group col-md-2">
					<label class="col-md-12 control-label">Anul</label>
					<div class="col-md-12 ptr-form">
						<%= @info['group_year'] %>
					</div>
				</div>  

				<div class="form-group col-md-2">
					<label class="col-md-12 control-label">Grupa</label>
					<div class="col-md-12 ptr-form">
						<%= @info['group_year'].to_s + @info['group_series'].to_s + @info['group_number'].to_s %>
					</div>
				</div>  

				<div class="form-group col-md-2">
					<label class="col-md-12 control-label">Media</label>
					<div class="col-md-12">
						<input type="text" api="1" class="form-control" name="api[medie]" value="<%= @info['mean'] %>" disabled>
					</div>
				</div>  

				<div class="form-group col-md-2">
					<label class="col-md-12 control-label">Nr credite</label>
					<div class="col-md-12">
						<input type="text" api="1" class="form-control" name="api[credite]" value="<%= @info['credits'] %>" disabled>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label class="col-md-12 control-label">CNP</label>
					<div class="col-md-12 ptr-form">
						<%= @info['cnp'] %>
					</div>
				</div>

				<div class="form-group col-md-6">
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-12 control-label">BI/CI serie</label>
							<div class="col-md-12 ptr-form">
								<a href="#" data-xeditable="true" data-pk="@info['id']" data-model="user" data-name="bi_serie" data-url="/inline" data-title="serie">
							<%=  @info['bi serie'].to_s %></a>
							</div>
						</div>

						<div class="form-group col-md-6">
							<label class="col-md-12 control-label">BI/CI numar</label>
							<div class="col-md-12 ptr-form">
								<a href="#" data-xeditable="true" data-pk="@info['id']" data-model="user" data-name="bi_serie" data-url="/inline" data-title="serie">
							<%=  @info['bi numar'].to_s %></a>
							</div>
						</div>
					</div>
					</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-md-12 control-label">Motive</label>
							<div class="col-md-12">
								<%= f.text_area :reason, :rows => 5 , :class => "form-control" %>
							</div>
						</div>
					</div>
					<div class="row	">
						<div class="form-group col-md-2">
							<label class=" control-label">Bursa pe card?</label>
							<div class="col-md-12">
								<%= f.select(:on_card, [['Nu', 0], ['Da', 1]] , {:selected => if @iban == '' then 0 else 1 end}, { :class => 'form-control' }) %>  
							</div>
						</div>

						<div class="form-group col-md-3" id="bankDiv">
							<label class="col-md-12 control-label">Banca</label>
							<div class="col-md-12 ptr-form">
							<a href="#" data-xeditable="true" data-pk="@info['id']" data-model="user" data-name="bank" data-url="/inline" data-title="banca">
								<%= @bank %>
								</a>
							</div>
						</div>

						<div class="form-group col-md-3" id="ibanDiv">
							<label class="col-md-12 control-label">Iban</label>
							<div class="col-md-12 ptr-form">
							<a href="#" data-xeditable="true" data-pk="@info['id']" data-model="user" data-name="iban" data-url="/inline" data-title="Iban">
								<%= @iban %>
								</a>
							</div>
						</div>

						<div class="form-group col-md-4">
							<label class="col-md-12 control-label">Documente</label>
							<div class="col-md-12">
								<%= f.fields_for :attachments do |p| %>
								<%= p.file_field :path, :multiple => true, name: "attachments[path][]", class: "btn btn-default pull-left" %>
								<% end %>    
							</div>

						</div>
					</div>


					<%= f.hidden_field :scholarship_id, :value => @scholarship_id %>


				</div>


			</div>


			<div class="clearfix"></div>
			<br />
			<br />

			<div class="row">
				<div class="col-md-12" style="text-align:center">    
					<%= f.submit "Salveaza", :class => 'btn btn-lg btn-primary' %>
				</div>
			</div>

			<% end %>

			<script>
				$(function() {
					return $("[data-xeditable=true]").each(function() {
						return $(this).editable({
							ajaxOptions: {
								type: "PUT",
								dataType: "json"
							},
							params: function(params) {
								var railsParams;
								railsParams = {};
								railsParams[$(this).data("model")] = {};
								railsParams[$(this).data("model")][params.name] = params.value;
								return railsParams;
							}
						});
					});
				});
			</script>


		</div>

