<div class="container col-md-12 text-center">
	<div id="common-infos">
		<hr />
		<h4 class="text-muted"><i class="fa fa-check-circle"></i> <strong>Date Personale</strong></h4>
		<hr />
		<div class="row" style="text-align: left;">
			<!-- nume -->
			<div class="form-group col-md-6">
				<label class="col-md-12 control-label">Nume</label>
				<div class="col-md-12">
					<div class="input-group">
						<span id="nume" data-number="1" class="rest-in-place form-control" data-url="/inline" data-object="user" data-attribute="last_name" data-placeholder="Nume de familie...">
							<%= @info["last_name"] %>
						</span>
						<div class="input-group-addon">
							<i class="fa fa-pencil pull-right"></i>
						</div>
					</div>
					<!-- <span id="nume" data-number="1" class="rest-in-place" data-url="/inline" data-object="user" data-attribute="last_name" data-placeholder="Nume de familie...">
						<%= @info["last_name"] %>
					</span> -->
				</div>
			</div>
			<!-- prenume -->
			<div class="form-group col-md-6">
				<label class="col-md-12 control-label">Prenume</label>
				<div class="col-md-12">
					<div class="input-group">
						<span id="nume" data-number="1" class="rest-in-place form-control" data-url="/inline" data-object="user" data-attribute="first_name" data-placeholder="Nume de familie...">
							<%= @info["first_name"] %>
						</span>
						<div class="input-group-addon">
							<i class="fa fa-pencil pull-right"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- randul 2 -->
		<div class="row text-left">
			<div class="form-group col-md-6">
				<label class="col-md-12 control-label">CNP</label>
				<div class="col-md-12">
					<span class="col-md-12 form-control">
						<%= @info['cnp'] %>
					</span>
				</div>
			</div>

			<div class="form-group col-md-3">
				<label class="col-md-12 control-label">BI/CI serie</label>
				<div class="col-md-12">
					<div class="input-group">
						<span class="rest-in-place form-control" data-number="4" data-url="/inline" data-object="user" data-attribute="bi_serie" data-placeholder="Serie BI...">
							<%=  @info['bi serie'].to_s %>
						</span>	
						<div class="input-group-addon">				
							<i class="fa fa-pencil pull-right"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group col-md-3">
				<label class="col-md-12 control-label">BI/CI numar</label>
				<div class="col-md-12">
					<div class="input-group">
						<span class="rest-in-place form-control" data-number="5" data-url="/inline" data-object="user" data-attribute="bi_numar" data-placeholder="Numar BI">
							<%=  @info['bi numar'].to_s %>
						</span>		
						<div class="input-group-addon">			
							<i class="fa fa-pencil pull-right"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- randul 3 -->
		<div class="row text-left">
			<div class="form-group col-md-3">
				<label class="col-md-12 control-label">Grupa</label>
				<div class="col-md-12">
					<div class="form-control" >
						<%= @info['group_year'].to_s + @info['group_series'].to_s + @info['group_number'].to_s %>
					</div>
				</div>
			</div> 

			<div class="form-group col-md-3">
				<label class="col-md-12 control-label">Anul</label>
				<div class="col-md-12">
					<div class="form-control">
						<%= @info['group_year'] %>
					</div>
				</div>
			</div>  

			<div class="form-group col-md-3">
				<label class="col-md-12 control-label">Media</label>
				<div class="col-md-12">
					<div class="form-control">
						<% if @info['mean'] %>
						<%= @info['mean'] %>
						<% else %>
						Not specified
						<% end %>
					</div>
				</div>
			</div> 

			<div class="form-group col-md-3">
				<label class="col-md-12 control-label">Nr credite</label>
				<div class="col-md-12">
					<div class="form-control">
						<% if @info['credits'] %>
						<%= @info['credits'] %>
						<% else %>
						Not specified
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<h4 class="text-muted"><i class="fa fa-check-circle"></i> <strong>Alege tip bursa</strong></h4>
	<hr />
</div>
<div container="container">
	<ul class="nav nav-tabs" id="myTab">
		<% i = true %>
		<% @scholarship_titles.each do |nume| %>
		<li role="presentation" data-toggle="tab"
		<% if i == true %>
		class="active"
		<% i = false %>
		<% end %>
		><a href="#goto-<%= nume['identificator'] %>"><%= nume["nume"] %></a></li>
		<% end %>
	</ul>

	<%= form_tag("/send_applications", method: "post", class:"form-horizontal") do %>
	<div id="myTabContent" class="tab-content">
		<% i = true %>
		<% @scholarship_titles.each do |nume| %>
		<% if i == true %>
		<div class="tab-pane fade active in" id="goto-<%= nume['identificator'] %>">
			<div class="row">
				<div class="col-md-12 text-left">
					<%= check_box "#{nume['nume']}", "yes" %> Trimite aplicarea pentru acest tip de bursa
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<% if not nume['acte'].nil? %>
					<% nume['acte'].each do |act| %>
					<label class="col-md-12 control-label" style="text-align: left;"><%= act %></label>
					<div class="col-md-12">
						<input type="file" class="form-control" name="<%= nume['nume'] + "~" + act %>">
					</div>
					<% end %>
					<% end %>
				</div>
				<div class="col-md-6 text-left">
					<br />
					<h4>Instructiuni de completare</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas, animi cupiditate quam deleniti! Natus aperiam recusandae quam vel quod enim, autem ipsa quis provident, suscipit, sunt alias est quaerat?
				</div>
			</div>
		</div>
		<% i = false %>
		<% else %>
		<div class="tab-pane fade" id="goto-<%= nume['identificator'] %>">
			<div class="row">
				<div class="col-md-12 text-left">
					<%= check_box "#{nume['nume']}", "yes" %> Trimite aplicarea pentru acest tip de bursa
				</div>
			</div>
			<div class="row">
				<% if not nume['acte'].nil? %>
				<div class="form-group col-md-6">
					<% nume['acte'].each do |act| %>
					<label class="col-md-12 control-label" style="text-align: left;"><%= act %></label>
					<div class="col-md-12">
						<input type="file" class="form-control" name="<%= nume['nume'] + "~" + act %>">
					</div>
					<% end %>
				</div>
				<div class="col-md-6 text-left">
					<br />
					<h4>Instructiuni de completare</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas, animi cupiditate quam deleniti! Natus aperiam recusandae quam vel quod enim, autem ipsa quis provident, suscipit, sunt alias est quaerat?
				</div>
				<% else %>
				<div class="col-md-12 text-left">
					<br />
					<h4>Instructiuni de completare</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas, animi cupiditate quam deleniti! Natus aperiam recusandae quam vel quod enim, autem ipsa quis provident, suscipit, sunt alias est quaerat?
				</div>
				<% end %>
			</div>
		</div>
		<% end %>
		<% end %>
	</div>
	<div class="submit-button">
		<input type="submit" value="Trimite" class="">
	</div>

	<% end %>
</div>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})
	$('.rest-in-place').click(function(){

		$('.rip-active').css('border','none');
	});
</script>
</div>
<div class="clearfix"></div>
