<div class="container col-md-10 col-md-offset-1 text-center">
	<div id="common-infos">
		<hr />
		<h4 class="text-muted"><i class="fa fa-check-circle"></i> <strong>Date Personale</strong></h4>
		<hr />
		<div class="row" style="text-align: left;">
			<!-- nume -->
			<div class="form-group col-md-6">
				<label class="col-md-12 control-label">Nume</label>
				<div class="col-md-12 ptr-form">
					<span id="nume" data-number="1" class="rest-in-place" data-url="/inline" data-object="user" data-attribute="last_name" data-placeholder="Nume de familie...">
							<%= @info["last_name"] %>
				     </span>
				</div>
			</div>
			<!-- prenume -->
			<div class="form-group col-md-6">
					<label class="col-md-12 control-label">Prenume</label>
					<div class="col-md-12 ptr-form">
						<span id="nume" data-number="1" class="rest-in-place" data-url="/inline" data-object="user" data-attribute="first_name" data-placeholder="Nume de familie...">
							<%= @info["first_name"] %>
						</span>
					</div>
				</div>
		</div>
		<div class="row text-left">
			<div class="form-group col-md-3">
					<label class="col-md-12 control-label">Grupa</label>
					<div class="col-md-12 ptr-form" style="margin-left:7% !important;">
						<%= @info['group_year'].to_s + @info['group_series'].to_s + @info['group_number'].to_s %>
					</div>
			</div> 

			<div class="form-group col-md-3">
					<label class="col-md-12 control-label">Anul</label>
					<div class="col-md-12 ptr-form">
						<%= @info['group_year'] %>
					</div>
		    </div>  

		    <div class="form-group col-md-3">
					<label class="col-md-12 control-label">Media</label>
					<div class="col-md-12 ptr-form">
						<% if @info['mean'] %>
							<%= @info['mean'] %>
						<% else %>
							Not specified
						<% end %>
					</div>
		    </div> 

		    <div class="form-group col-md-3">
					<label class="col-md-12 control-label">Nr credite</label>
					<div class="col-md-12 ptr-form">
						<% if @info['credits'] %>
							<%= @info['credits'] %>
						<% else %>
							Not specified
						<% end %>
					</div>
			</div>
		</div>

		<div class="row text-left">
			<div class="form-group col-md-6">
				<label class="col-md-12 control-label">CNP</label>
				<div class="col-md-12 ptr-form">
					<%= @info['cnp'] %>
				</div>
			</div>

			<div class="form-group col-md-3">
				<label class="col-md-12 control-label">BI/CI serie</label>
				<div class="col-md-12 ptr-form">
					<span class="rest-in-place" data-number="4" data-url="/inline" data-object="user" data-attribute="bi_serie" data-placeholder="Serie BI...">
						<%=  @info['bi serie'].to_s %>
					</span>
				</div>
			</div>

			<div class="form-group col-md-3">
				<label class="col-md-12 control-label">BI/CI numar</label>
				<div class="col-md-12 ptr-form">
					<span class="rest-in-place" data-number="5" data-url="/inline" data-object="user" data-attribute="bi_numar" data-placeholder="Numar BI">
										<%=  @info['bi numar'].to_s %>
										</span>
				</div>
			</div>

		</div>
				<hr />
		<h4 class="text-muted"><i class="fa fa-check-circle"></i> <strong>Alege tip bursa</strong></h4>
		<hr />
	</div>
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
</div>
