

<div class="well row  ">
  <div class="row text-center">
    <h1 id="titlu-aplicatia-ta">Aplicaţia ta</h1>
  </div>
  <div id="showDetails" style=" padding-top:40px;  margin-left:50px; padding-bottom:50px; margin-right: auto;">
    <div class="col-lg-4 col-lg-offset-1"> 
      <table class="table" >
        <tr>
          <td>Nume:</td>
          <td><%= @user["first_name"] %></td> 
        </tr>
        <tr>
          <td>Prenume:</td>
          <td><%= @user["last_name"] %></td>
        </tr>
        <tr>
          <td>Status:</td>
          <td><%= @application.status %></td>
        </tr>
        <tr>
          <td>Data depunere:</td>
          <td><%= @application.submission_date.strftime("%d-%m-%Y") %></td>
        </tr>
        <tr>
          <td>Motiv de aplicare:</td>
          <td><%= @application.reason %></td>
        </tr>
        <tr>
          <td>Depunere pe card:</td>
          <td>
            <% case @application.on_card %>
            <% when 0 %>
            Nu
              </td>
            </tr>
            <% when 1 %>
            Da
              </td>
            </tr>
          <tr>
            <td>Banca</td>
            <td><%= @user.bank %></td>
          </tr>
          <tr>
            <td>IBAN</td>
            <td><%= @user.iban %></td>
          </tr>
          <% end %>

  </table>
</div>

<div class="col-lg-4  col-lg-offset-2">
  <div class="row text-center ">  
    <% @attachments.each do |attachment| %>
    <% if attachment.path %>
    <div style="margin-bottom: 10px;"> 
      <a href="<%= root_url[0..-2] + attachment.path.to_s %>" target="_blank">
        <img class="img-thumbnail" src="<%= attachment.path_url(:thumb) %>" />
      </a>
    </div>
    <% end %>
    <% end %>
  </div>  
</div>  
</div>
</div>