
<hr/>
 <h2 class="text-muted" style="text-align:center;"><i class="fa fa-check-circle"></i> <strong>Perioade de aplicare</strong></h2>
 <hr/>
 <br><br>
<style type="text/css">
  td {
      width: 120px;
  }
</style>
<% @all_scholarships.each do |elem| %>

  <table class="table">
    <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Buget</th>
      <th>Activ</th>
      <th>Nr stud</th>
      <th>Min salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= elem["sesiune"].start %></td>
        <td><%= elem["sesiune"].end %></td>
        <td><%= elem["sesiune"].buget %></td>
        <td><%= elem["sesiune"].activ %></td>
        <td><%= elem["sesiune"].nr_stud %></td>
        <td><%= elem["sesiune"].min_salary %></td>
        <td><%= link_to 'Vezi', elem["sesiune"] %></td>
        <td><%= link_to 'Editeaza', edit_period_path(elem["sesiune"]) %></td>
        <td><%= link_to 'STERGE', "/delete_period/" + elem["sesiune"].id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
  </table>


<a class="btn btn-primary" data-toggle="collapse" href="#heading<%= elem["sesiune"].id %>" aria-expanded="false" aria-controls="collapseExample">
  Vreau sa vad bursele perioadei de mai sus
</a>
<div class="collapse" id="heading<%= elem["sesiune"].id %>">
  <div class="well">
            <h4>Bursele asignate perioadei <%= elem["sesiune"].start %> -> <%= elem["sesiune"].end %></h4>
            <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Money</th>
                <th>An de studiu</th>
                <th>Procent</th>
                <th>Specializare</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% elem["burse"].each do |domain| %>
                <tr>
                  <td><%= domain.name %></td>
                  <td><%= domain.money %></td>
                  <td><%= domain.an_studiu %></td>
                  <td><%= domain.procent %></td>
                  <td><%= domain.specializare %></td>
                  <td><%= link_to 'Vezi', domain %></td>
                  <td><%= link_to 'Editeaza', edit_domain_path(domain) %></td>
                  <td><%= link_to 'Sterge', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
  </div>
</div>
<br /><br />
<% end %>


<br>

<div class="row">
   <div class="col-md-4">
    <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                       <i class="fa fa-plus-square fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">I</div>
                                        <div>Step</div>
                                    </div>
                                </div>
                            </div>
                            <a href="<%= new_period_path %>">
                                <div class="panel-footer">
                                    <span class="pull-left">Adauga Sesiune</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>

   </div>

   <div class="col-md-4">
       <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-puzzle-piece fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">II</div>
                                        <div>Step</div>
                                    </div>
                                </div>
                            </div>
                            <a class="disabled" href="<%= new_domain_path %>" role="button">
                                <div class="panel-footer">
                                    <span class="pull-left">Adauga burse la sesiunea activa</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
   

   <div class="col-md-4">
      <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-cog fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">III</div>
                                        <div>Step</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/config-scholarship">
                                <div class="panel-footer">
                                    <span class="pull-left">Configureaza burse</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
  

 </div>
