<div role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="<%= root_url %>">Burse</a>
  </div>
  <div class="collapse navbar-collapse">

    <ul class="nav navbar-nav">

      <% if @current_user.is_admin == true %>
      <li><a href="<%= root_url %>admin">Dashboard</a></li>
      <li><a href="<%= root_url %>scholarships">Burse</a></li>
      <li><a href="<%= root_url %>domains">Domenii</a></li>
      <li><a href="<%= root_url %>periods">Sesiuni</a></li>
      <li class="dropdown" id="fat-menu">
        <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">Cereri<b class="caret"></b></a>
        <ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
          <li><a href="<%= root_url %>waiting/">In asteptare</a></li>
          <li><a href="<%= root_url %>valid/">Valide</a></li>
          <li><a href="<%= root_url %>requests/">Toate</a></li>
        </ul>
      </li>
      <li><a href="<%= root_url %>generate">Generare Burse</a></li>

      <% elsif @current_user.is_student == true %>
      <li><a href="<%= root_url %>">Dashboard</a></li>
      <li class="dropdown" id="fat-menu">
        <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">Aplicatii<b class="caret"></b></a>
        <ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
          <%
          if @my_applications and not @my_applications.empty?
            @my_applications.each do |app|
              %>
              <li style="background-color:#D1DAEB"><a href="<%= root_url %>applications/<%= app.id %>/edit">
                <%= app.scholarship.stype %></a></li>
                <%
              end

              if @available_appl and not @available_appl.empty?
                %>
                <li class="divider"></li>
                <%
              end
            end

            if @available_appl and not @available_appl.empty?
              @available_appl.each do |app|
                %>
                <li><a href="<%= root_url %>applications/<%= app.id %>/new">
                  <%= app.stype %></a></li>
                  <%
                end
              end
              %>
            </ul>
          </li>

          <% elsif @current_user.is_management == true %>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Cereri</a></li>
          <% end %>

        </ul>
        <ul class="nav navbar-nav pull-right">

          <li class="dropdown" id="fat-menu">
            <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#"><%= @current_user.first_name + " " + @current_user.last_name %><b class="caret"></b></a>
            <ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
              <li><a href="<%= root_url %>logout">Iesire</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>

