<div id="outer-wrap">
  <div id="inner-wrap">

<header id="top" role="banner">
            <div class="block-top">
                <a class="user-btn dropdown-toggle" data-toggle="dropdown" href="#">
                <a href='#' class='clickable'></a>
                <a class="nav-btn" id="nav-open-btn" href="#nav"></a>

                    <ul class="dropdown-menu user-menu pull-right" role="menu">
                        <li><a href="#">
                             <%= gravatar_image_tag(@current_user.first_name , :class => 'avatar') %>
                            <span class='username1'><%= @current_user.first_name + " " + @current_user.last_name %></span>
                        </a></li>
                        <li class="divider"></li>
                        <% if @current_user.is_student %>
                          <li><a href="/profile">Profile</a></li>
                        <% end %>
                        <li><a href="/logout">Sign out</a></li>
                  </ul>
            </div>
        </header>

    <nav id="nav" role="navigation">
      <div class="block">
        <div class='avatar'>
          <% if @current_user.is_student %>
            <%= link_to gravatar_image_tag(@current_user.first_name , :class => 'avatar'), {controller:'user_sessions', action:'show_profile'} %>
          <% else %>
            <%= gravatar_image_tag(@current_user.first_name , :class => 'avatar') %>
          <% end %>
        </div>
        <div class='username'>
          <% if not @current_user.is_admin %>
          <a class="username" href="/profile">
            <%= @current_user.first_name + " " + @current_user.last_name %>
          </a>
          <% else %>
          <%= @current_user.first_name + " " + @current_user.last_name %>
          <% end %>
          <ul>
            <% if @current_user.is_admin == true %>
            <li class="<%= cp('/admin') %>"><a href="<%= root_url %>admin">Dashboard</a></li>
            <!-- <li><a href="<%= root_url %>scholarships">Burse</a></li> -->
            <!--             <li><a href="<%= root_url %>domains">Domenii</a></li> -->
            <li class="<%= cp('/periods') %>"><a href="<%= root_url %>periods">Sesiuni</a></li>
            <li class="<%= cp('/review-news') %>"><a href="/review-news">Revizuire stiri</a></li>




            <li>
              <!-- <a aria-expanded="false" class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#ddlCereri"><i class="fa fa-fw fa-arrows-v"></i> Cereri </a> -->
              <!-- <ul id="ddlCereri" style="height: 0px;" aria-expanded="false" aria-labelledby="drop3" class="collapse"> -->
<!--                 <li ><a href="<%= root_url %>waiting/">Burse in asteptare</a></li>
  <li ><a href="<%= root_url %>valid/">Burse valide</a></li> -->
  <li class="<%= cp('/requests') %>"><a href="<%= root_url %>requests/">Toate aplicatiile</a></li>
  <li ><a href="<%= root_url %>clear_db/" data-confirm="Sunteti sigur ca doriti sa stergeti tot?">Sterge TOT!</a></li>
  <!-- </ul> -->
</li>



<!-- <li><a href="<%= root_url %>generate">Generare Burse</a></li> -->

<% elsif @current_user.is_student == true %>
<li class="<%= cp('/') %>"><a href="<%= root_url %>">Dashboard</a></li>
<li class="<%= cp('/aplica') %>"><a href="<%= root_url %>aplica">Aplica la bursa</a></li>
<li class="<%= cp('/applications') %>"><a href="<%= root_url %>applications">Aplicatiile mele</a></li>


<% elsif @current_user.is_management == true %>
<li class="<%= cp('/') %>"><a href="#">Dashboard</a></li>
<li class="<%= cp('/requests-main') %>"><a href="#">Cereri</a></li>
<% end %>
<li>
  <a href="<%= root_url %>logout">Iesire</a><br>
</li>

</ul>
</div>
</nav>


