<hr>
<% @allnews.each do |news| %>
  <h3 style="margin-top:0px"><%= news.title %></h3>
  <h6 style="color:green;"><i><%= news.post_date.to_date %></i></h6><br />
  <div class="readMore<%=news.id%>">
    <% if news.content.length > 100 %>
      <%= news.content[0..200] %>...
      <a class="linkExpand" data-toggle="collapse" href="#readMore<%=news.id%>" aria-expanded="false" aria-controls="readMore">
        Citeste mai mult
      </a>
    <%else%>
      <%= news.content %>
    <% end %>
  </div>
  
  <div id="test"></div>
  
  <div class="collapse" id="readMore<%=news.id%>">
    <div class="well">
      <%= news.content  %>
      <a class="linkCollpse" style="color:red" data-toggle="collapse" href="#readMore<%=news.id%>" aria-expanded="false" aria-controls="readMore">
        Inchide
      </a>
    </div>
  </div>
  <hr>
<% end %>

<script type="text/javascript">
 var lastId = new Array();
 function showAll(element) {
      $("." + element).fadeIn(800);
 }
  $(document).ready(function(){
    $('.linkExpand').click(function(){
      if(lastId.length != 0 ) {
        console.log(lastId);
        $('.collapse').fadeOut(800);
        for (var i=0; i<lastId.length;i=i+1) {
          showAll(lastId[i]);
        }
        while (lastId.length) {
           lastId.pop();
        }
      }      

      var s = $(this).attr("href");
      $("." + s.substring(1,s.length)).fadeOut(800);
      lastId.push(s.substring(1,s.length));
    })
    $('.linkCollpse').click(function(){
      var s = $(this).attr("href");
      $("." + s.substring(1,s.length)).fadeIn(800);
    })
  })  
</script>