
<p>ceva</p>
<% @allnews.each do |news| %>
<div class="alert alert-warning alert-dismissable">
<div style="margin-bottom:20px">
  <div class="row">
    <div class="col-md-9">
      <h3 style="margin-top:0px"><%= news.title %></h3>
      <h6 style="color:green;"><i><%= news.post_date.to_date %></i></h6><br />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= news.content %>
    </div>
    <div class="col-md-12">
    <a class="btn btn-default" href="<%=root_url%>news/<%=news.id %>">Citeste tot </a>
    </div>
  </div>
</div>
</div>
<% end %>
