<br><br>
<h3>Editeaza stirea</h3>

<br><br>
  <%= form_for(@news, :url => "/post_edit/" + @news.id.to_s) do |f| %>
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title , class:"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content , class:"form-control ",:rows => 10%>
    </div>
    <div class="checkbox">
    <label>
      <%= f.check_box :published, {}, "true", "false" %> Publica acum
    </label>
  </div>
    <%= f.submit 'Updateaza', :class => 'btn btn-primary'%>
  <% end %>

