<div class="container">
  <br>
  <br>
  <div class="col-md-12">
    <%= form_for(@domain) do |f| %>
      <div class="form-group">
        <% if @domain.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

          <ul>
            <% @domain.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Nume</label>
        <div class="col-md-7">
          <%= f.text_field :name , class:"form-control"%>
        </div>
      </div>
      <br><br><br>
      <div class="form-group">
        <label class="col-md-2 control-label">Suma</label>
        <div class="col-md-7">
          <%= f.number_field :money , class:"form-control" , in:1...900000%>
        </div>
      </div>
      <br><br>
      <div class="form-group">
          <label class="col-md-2 control-label">Numar de ordine</label>
        <div class="col-md-7">
          <%= f.number_field :order_number, class:"form-control", in:1...100 %>
        </div>
      </div>
      <br><br>
      <div class="form-group">
        <label class="col-md-2 control-label">Bursa</label>
        <div class="col-md-7">
        <select name="domain[scholarship_id]" class="form-control">
          <% @scholarships.each do |e| %>
          <option value="<%= e.id %>" 
            <% if @domain.scholarship_id == e.id %> selected <% end %>>
            <%= e.stype%>
          </option>
          <% end %>
        </select>
        </div>
      </div>
      <br><br>
      <div class="form-group">
        <label class="col-md-2 control-label">Sesiune</label>
        <div class="col-md-7">
          <select name="domain[period_id]" class="form-control">
            <% @periods.each do |p| %>
            <option value="<%= p.id %>" selected>
              Sesiunea <%= p.id %>
            </option>
            <% end %>  
          </select>
        </div>
      </div>
      <br><br>

      <div class="form-group">
        <label class="col-md-2 control-label">Procent</label>
        <div class="col-md-7 input-group" id="txtProcent">
          <%= f.number_field :procent , class:"form-control" , in:1...100%>
          <div class="input-group-addon">%</div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-2 control-label">An de studiu</label>
        <div class="col-md-7">
          <%= f.text_field :an_studiu , class:"form-control"%>
        </div>
      </div>
      <br><br>
      
      <div class="form-group" style="padding-top:10px">
        <label class="col-md-2 control-label">Specializare</label>
        <div class="col-md-7">
          <%= f.text_field :specializare , class:"form-control"%>
        </div>
      </div>

      <!-- <div id="domaindata">
        <label>Datas</label>
        <% if ! @datas.nil? %>
        <% @datas.each do |p| %>
        <div class="form-group">
          <input type="text" value="<%= p.name %>" disabled> 
          <input type="text" value="<%= p.sort %>" disabled> 
          <%= link_to 'Destroy', "/domains/data/" + p.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <% end %>
          <% else %>
          <div class="form-group">
          <input type="text" name="domain_data[name][]" class="form-control">
            <select name="domain_data[sort][]">
              <option value="asc">ascendent</option>
              <option value="desc">descendent</option>
            </select>
          </div>
          <% end %>
        </div> -->

        <br><br>
        <!-- <a href="javascript:addData()">add data</a> -->

        <div class="form-group">
          <div class="col-md-6 col-md-offset-2">
            <input value="Trimite" type="submit" class="btn btn-primary">
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    function addData(){
      $("#domaindata").append('<div class="field"><input type="text" name="domain_data[name][]"><select name="domain_data[sort][]"><option value="asc">ascendent</option><option value="desc">desscendent</option></select></div>');

    }
  </script>
