<h1>Listing domains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Money</th>
      <th>Order number</th>
      <th>Scholarship</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.name %></td>
        <td><%= domain.money %></td>
        <td><%= domain.order_number %></td>
        <td><%= domain.scholarship %></td>
        <td><%= link_to 'Show', domain %></td>
        <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
        <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domain', new_domain_path %>
