<h1>User profile</h1>
<ul>
	<li>Nume: 
	<span id="nume" data-number="1" class="rest-in-place" data-url="/update" data-object="user" data-attribute="last_name" data-placeholder="Nume de familie...">
			<%= @info["last_name"] %>
		</span> <span id="editable1"><i class="fa fa-pencil"></i></span>      
	</li>
	<li>
		Prenume: 
		<span class="rest-in-place" data-number="2" data-url="/update" data-object="user" data-attribute="first_name" data-placeholder="Prenume...">
			<%= @info["first_name"]%>
		</span> <span id="editable2"><i class="fa fa-pencil"></i></span>
	</li>
	<li>
		Email: 
		<span class="rest-in-place" data-number="3" data-url="/update" data-object="user" data-attribute="email" data-placeholder="Email...">
			<%= @info['email'] %>
		</span><span id="editable3"><i class="fa fa-pencil"></i></span>
	</li>
	<li>
		Tip cont: 
		<% if @user.is_student %>
		STUDENT
		<% end %>

		<% if @user.is_admin %>
		ADMINISTRATOR
		<% end %>

		<% if @user.is_management %>
		SECRETARIAT
		<% end %>
		
		<li>Serie BI/CI: 
			<span class="rest-in-place" data-number="4" data-url="/update" data-object="user" data-attribute="bi_serie" data-placeholder="Serie BI...">
				<%= @info['bi serie'] %> 
			</span><span id="editable4"><i class="fa fa-pencil"></i></span>

		</li>
		<li>Numar BI/CI:
			<span class="rest-in-place" data-number="5" data-url="/update" data-object="user" data-attribute="bi_numar" data-placeholder="Numar BI">
				<%= @info['bi numar'] %> 
			</span> <span id="editable5"><i class="fa fa-pencil"></i></span>
		</li>
		<li>Specializare: <%= @info['specialization'] %></li>
		<li>An de studiu: <%= @info['group_year'] %></li>
		<li>Seria: <%= @info['group_series'] %></li>
		<li>Grupa: <%= @info['group_number'] %></li>

		<li>IBAN: 
			<span class="rest-in-place" data-number="6" data-url="/update" data-object="user" data-attribute="iban" data-placeholder="IBAN...">
				<%= @user.iban %>
			</span><span id="editable6"><i class="fa fa-pencil"></i></span>
		</li>
		<li>Banca: 
			<span class="rest-in-place" data-number="7" data-url="/update" data-object="user" data-attribute="bank" data-placeholder="Banca...">
				<%= @user.bank %>
			</span><span id="editable7"><i class="fa fa-pencil"></i></span>
		</li>
	</li>
</ul>

<script type="text/javascript">
	for(var i = 0; i <= 7; i++){
		$("#editable" + i).hide();
	}
	$(".rest-in-place").on({
		mouseenter: function () {
			$("#editable" + $(this).data('number')).show();
		},
		mouseleave: function () {
			$("#editable" + $(this).data('number')).hide();
		}
	});
</script>
