<%= form_tag("/edit_profile", method: "post") do %>
	<ul>
		<li>Nume: <input class="form-control" type="text" placeholder="<%= @info["last_name"] %>" name="last_name"></li>
		<li>Prenume <input class="form-control" type="text" placeholder="<%= @info["first_name"] %>" name="first_name"></li>
		<li>Email <input class="form-control" type="text" placeholder="<%= @info['email'] %>" name="email"></li>
		<li>Serie BI: <input class="form-control" type="text" placeholder="<%= @info['bi serie'] %>" name="bi_serie"></li> 
		<li>Numar BI: <input class="form-control" type="text" placeholder="<%= @info['bi numar'] %>" name="bi_numar"></li>
		<li>IBAN: <input class="form-control" type="text" placeholder="<%= @user.iban %>" name="iban"></li>
		<li>Banca <input class="form-control" type="text" placeholder="<%= @user.bank %>" name="bank"></li>
	</ul>
	<input type="submit" value="Submit" class="btn btn-default">
<% end %>