<h1>User profile</h1>
<ul>
	<li>Nume: 
	 <a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="last_name" data-url="/update" data-title="nume">
            <%= @info["last_name"] %>
          </a>
	</li>
	<li>
	Prenume: 
	<a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="first_name" data-url="/update" data-title="prenume">
            <%= @info["first_name"]%>
          </a>
	</li>
	<li>
	Email: 
	<a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="email" data-url="/update" data-title="email">
            <%= @info['email'] %>
          </a>
	</li>
	<li>
	    Tip cont: 
		<% if @user.is_student %>
			STUDENT
		<% end %>

		<% if @user.is_admin %>
			ADMINISTRATOR
		<% end %>

		<% if @user.is_management %>
			SECRETARIAT
		<% end %>
		
		<li>Serie BI/CI: 
			<a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="bi_serie" data-url="/update" data-title="serie">
            <%= @info['bi serie'] %> 
          </a>

		</li>
		<li>Numar BI/CI:
			<a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="bi_numar" data-url="/update" data-title="numar">
            <%= @info['bi numar'] %> 
          </a> 
		</li>
		<li>Specializare: <%= @info['specialization'] %></li>
		<li>An de studiu: <%= @info['group_year'] %></li>
		<li>Seria: <%= @info['group_series'] %></li>
		<li>Grupa: <%= @info['group_number'] %></li>

		<li>IBAN: 
			<a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="iban" data-url="/update" data-title="iban">
            <%= @user.iban %>
          </a>
		</li>
		<li>Banca: 
			<a href="#" data-xeditable="true" data-pk="<%= @user.id %>" data-model="user" data-name="bank" data-url="/update" data-title="banca">
            <%= @user.bank %>
          </a>
		</li>
	</li>
</ul>
<script>
	$(function() {
  return $("[data-xeditable=true]").each(function() {
    return $(this).editable({
      ajaxOptions: {
        type: "PUT",
        dataType: "json"
      },
      params: function(params) {
        var railsParams;
        railsParams = {};
        railsParams[$(this).data("model")] = {};
        railsParams[$(this).data("model")][params.name] = params.value;
        return railsParams;
      }
    });
  });
});
</script>