<!DOCTYPE html>
<html>
<head>
	<%= render "shared/head" %>
</head>
<body>
	<%= render "shared/header" %>
	<!-- STARTS here -->
	<div id="main" role="main" class="block">
                <!-- Single button -->
                <!-- <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div> -->
                <p id="notice"><%= notice %></p>
            <%= yield %>
        </div>

        <footer role="contentinfo">
            <img src='img/logo.png' class='bottom-logo'></img>
        </footer>
</div>
	<!-- ENDS HERE -->
			<%= javascript_include_tag "main" %>
		</body>
		</html>
