<!DOCTYPE html>
<html>
<head>
	<%= render "shared/head" %>
</head>
<body>
	<%= render "shared/header" %>
	<!-- STARTS here -->
	<div id="main" role="main" class="block">
		<p id="notice"><%= notice %></p>
		<%= yield %>
	</div>

	<footer role="contentinfo">
		<img src='img/logo.png' class='bottom-logo'></img>
	</footer>
</div>
<!-- ENDS HERE -->
<%= javascript_include_tag "main" %>
</body>
</html>
