<!DOCTYPE html>
<html>
<head>
	<%= render "shared/head" %>
</head>
<body>
	<%= render "shared/header" %>
	<!-- STARTS here -->
	<div id="main" role="main" class="block">
		
		<div class="alert alert-success"><%= notice %></div>
		<%= yield %>
	</div>

	<%= render "shared/footer" %>
</div>
<!-- ENDS HERE -->
<%= javascript_include_tag "main" %>
</body>
</html>
