<!DOCTYPE html>
<html>
<head>
	<%= render "shared/head" %>
</head>
<body>
	<%= render "shared/header" %>
	<div class="container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
  <%= render "shared/footer" %>
</body>
</html>
